.cart-section {
    margin: 30px auto;
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
}

.cart-table th, .cart-table td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.cart-table img {
    width: 100px;
    border-radius: 5px;
}

.quantity-input {
    width: 50px;
    text-align: center;
    padding: 5px;
    border: 1px solid #ddd;
}

.increment-btn, .decrement-btn, .delete-btn {
    background-color: #E53935;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.increment-btn:hover, .decrement-btn:hover, .delete-btn:hover {
    background-color: #D32F2F;
}

.cart-summary {
    margin-top: 20px;
    text-align: right;
}

.cart-summary p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.checkout-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.checkout-btn:hover {
    background-color: #45a049;
}

.infor-product {
    display: flex;
}
.infor-product img {
    width: 70px;
}
.inner-infor-product {
    margin-left: 20px;
    text-align: left;
}